<%
    let selfSlides = [
        'https://kizim-lt.b-cdn.net/indimed.lt/9PtsWIzTAGc1V4CjZAMnJcgjXLpxV5qIqQaChqLj.webp',
        'https://kizim-lt.b-cdn.net/indimed.lt/z5fDBLdsUHqFM7d9NGRqf2QybTONh0boDiZGKAGI.webp',
        'https://kizim-lt.b-cdn.net/indimed.lt/Y0CCPPHh6ONR1er2a6ypYWknWmpn3vy0bWyi5NmG.webp',
        'https://kizim-lt.b-cdn.net/indimed.lt/DjugcR8VKFIhK2cnyr7rMVau9X4k0yTlGD0iuPxJ.webp',
    ];

    let selfDescription = 'Lietuvos reabilitacijos ir sveikatingumo specialistai, susibÅ«rÄ™ Ä¯ draugijÄ… bei pasirengÄ™ suteikti Jums profesionalias gydymo rekomendacijas ir paslaugas'

    if (typeof slides !== 'undefined') {
        selfSlides = slides;
    }

    if (typeof description !== 'undefined') {
        selfDescription = description;
    }

    let button_about = 'PlaÄiau apie specialistus'

    if (typeof button !== 'undefined') {
        button_about = button;
    }
%>

<section class="px-8 py-32 bg-green-600" id="apie-mus">
    <div class="container items-center max-w-7xl mx-auto text-left md:text-center mb-14">
        <%- include('./single/h3.ejs', {text: 'Apie mus ðŸ‘‹'}) %>
        <%- include('./single/h2.ejs', {text: title}) %>
        <div class="text-white lg:text-lg max-w-2xl m-auto mb-8">
        <%- selfDescription %>
        </div>
        <div class="relative flex flex-col md:items-center">
            <a href="#apie-specialistus" class="flex items-center justify-center px-6 py-3 text-lg text-black bg-white-500 rounded-md hover:bg-gray-200 bg-white transition-colors">
                <%- button_about %>
                  <svg class="h-6 w-6 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                  </svg>
            </a>
        </div>
    </div>

    <div class="container max-w-3xl mx-auto relative">
        <img src="https://storage.mlcdn.com/account_image/215424/9PtsWIzTAGc1V4CjZAMnJcgjXLpxV5qIqQaChqLj.png" class="w-full opacity-0">

        <div class="absolute top-0 left-0 h-full w-full"
            x-data="{
                index: 0,
                sliderSwitcher: 'nextImage',
                currentImage: 0,
                nextImage: 1,
                images: [<% selfSlides.forEach((slide) => { %>'<%- slide %>',<% }) %>]
            }"
            x-init="setInterval(function() {
                index = (index + 1) % images.length

                if (sliderSwitcher === 'nextImage') {
                    setTimeout(() => currentImage = (currentImage + 2) % images.length , 700)

                    sliderSwitcher = 'currentImage'

                    return;
                }

                if (sliderSwitcher === 'currentImage') {
                    setTimeout(() => nextImage = (nextImage + 2) % images.length, 700)

                    sliderSwitcher = 'nextImage'
                }
            }, 2000)"
        >
            <img :src="images[currentImage]" class="absolute transition-opacity duration-500" :class="{ 'opacity-0 delay-200': (index % 2) !== 0, 'opacity-100 z-10' :  (index % 2) === 0 }" src="<%- selfSlides[0] %>" alt="<%- title.replace(/<[^>]*>/g, '')  %>">
            <img x-cloak :src="images[nextImage]" class="absolute transition-opacity duration-500" :class="{ 'opacity-0 delay-200': (index % 2) === 0, 'opacity-100 z-10' :  (index % 2) !== 0 }" src="<%- selfSlides[1] %>" alt="<%- title.replace(/<[^>]*>/g, '')  %>">
        </div>
    </div>
</section>
