<%
    let selfTextPosition = 'right'
    let selfBgColor = 'bg-white'

    if (typeof textPosition !== 'undefined' && textPosition === 'left') {
        selfTextPosition = 'left'
    }

    if (typeof bgColor !== 'undefined' && bgColor === 'gray') {
        selfBgColor = 'bg-neutral-100'
    }
%>

<section class="px-8 pb-32 <%- selfBgColor %>">
    <div class="items-center max-w-7xl mx-auto">
        <div class="grid md:grid-cols-2 items-center gap-10 md:gap-20">
            <div
                <% if (selfTextPosition === 'left') { %>
                class="md:order-2"
                <% } %>
            >
                <img src="<%- image %>" alt="<%- title %>">
            </div>
            <div>
                <h4 class="font-semibold text-gray-900 text-xl md:text-2xl mb-4">
                    <%- title %>
                </h4>
                <div class="text-neutral-600 mb-8">
                    <p class="mx-auto mb-6"><%- text %></p>
                    <div class="flex flex-col gap-3">
                        <% list.forEach((item) => { %>
                            <div class="flex items-center gap-2">
                                <div class="shrink-0 w-6 h-6 bg-green-600 rounded-full text-white flex items-center justify-center font-bold">✓</div>
                                <div><%- item %></div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="relative flex flex-col sm:flex-row sm:space-x-4">
                    <a href="#uzklausos-forma" class="flex items-center w-full px-6 py-3 mb-3 text-lg text-white bg-green-600 rounded-md sm:mb-0 hover:bg-green-700 sm:w-auto"> Noriu pateikti užklausą
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-6 w-6 ml-2"><path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z"></path></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
