<%
    let randomId = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
%>

<div>
    <%- include('label.ejs', {
        id: randomId,
        label: label,
    }) %>
    <textarea
        x-model="fields.<%- name %>.value"
        id="<%- randomId %>"
        name="<%- name %>"
        :class="fields.<%- name %>.error ? 'border-red-400' : 'border-neutral-300'"
        class="base-input pl-4 border shadow"
        rows="3"
        placeholder="<%- placeholder %>"
        x-on:input="revalidateField('<%- name %>')"
    ></textarea>
</div>
